# Hardhat files
artifacts/
cache/
coverage/

# Dependencies
node_modules/

# Environment variables
.env

# Testing
coverage.json

# Build outputs
typechain/
typechain-types/

# Logs
*.log
npm-debug.log*

# Deployment info
config/deployment.json

#Playwright
playwright-report/
test-results/